---
---

@import "minima";

.icon, .username {
  color: #8e8e8e;
}

.icon:hover, .username:hover {
  color: $text-color;
}

.social-media-list a:hover {
    text-decoration: none;
}

.footer-col-1 {
    width: -webkit-calc(20% - (30px / 2));
    width: calc(20% - (30px / 2));
}

.footer-col-3 {
    width: -webkit-calc(60% - (30px / 2));
    width: calc(60% - (30px / 2));
}

.buzzword {
    background-color: black;
    color: white;
    padding: 5px;
}